        body {
            background-color: rgb(219, 242, 242);
            float: inline-start;
        }
        
        .red {
            display: inline-block;
            height: 159px;
            width: 25%;
            background-color: red;
        }
        
        .blue {
            display: inline-block;
            height: 159px;
            width: 73%;
            background-color: darkslateblue;
        }
        
        .yellow {
            height: 300px;
            width: 100%;
            background-color: yellowgreen;
            display: inline-block;
        }
        
        .abc {
            display: inline-block;
            height: 150px;
            padding: 5px;
        }
        
        .green {
            background-color: green;
            width: 450px;
        }
        
        .magenta {
            background-color: magenta;
            width: 450px;
        }
        
        .orange {
            background-color: orange;
            width: 700px;
        }
        
        .purple {
            background-color: blueviolet;
            width: 450px;
            ;
        }
        
        .pen {
            display: inline-block;
            height: 100px;
        }
        
        .brown {
            background-color: brown;
            width: 350px;
        }
        
        .black {
            background-color: black;
            height: 100px;
            width: 100%;
            display: block;
        }
        
        .peach {
            background-color: peru;
            width: 800px;
        }
        
        .tab {
            display: inline-block;
            height: 200px;
        }
        
        span {
            margin: 5px;
        }
        
        .cyan {
            background-color: cyan;
            width: 700px;
        }