.absolute {
    width: 200px;
    height: 150px;
    position: absolute;
    right: 0%;
    margin-right: 20px;
}

.float {
    float: right;
    width: 200px;
    height: 150px;
    margin-right: 20px;
}

body {
    background-color: rgb(139, 148, 148);
}