@font-face {
    font-family: "first";
    src: url(./abc/Caveat/first.ttf);
}

@font-face {
    font-family: "second";
    src: url(./abc/Caveat/second.ttf);
}

@font-face {
    font-family: "third";
    src: url(./abc/Caveat/third.ttf);
}

@font-face {
    font-family: "four";
    src: url(./abc/Caveat/four.ttf);
}

@font-face {
    font-family: "five";
    src: url(./abc/Caveat/five.ttf);
}

h1,
h6 {
    font-family: "first";
    text-align: center;
    color: brown;
}

h2 {
    font-family: "second";
    text-align: center;
    color: rgb(62, 69, 43);
}

h3 {
    font-family: "third";
    text-align: center;
    color: rgb(86, 164, 83);
}

h4 {
    font-family: "four";
    text-align: center;
    color: rgb(227, 90, 97);
}

h5 {
    font-family: "five";
    text-align: center;
    color: rgb(15, 54, 68);
}

body {
    background-color: rgb(232, 231, 234);
    margin: 200px;
}