<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link href="layout.css" rel="stylesheet" />
</head>

<body>
    <div class="flex-container">
        <p>TEN</p>
        <div id="border"></div>
        <p>NINE</p>
        <div id="border"></div>
        <p>EIGHT</p>
        <div id="border"></div>
        <p>SEVEN</p>
        <div id="border"></div>
        <p>SIX</p>
        <div id="border"></div>
        <p>FOUR</p>
        <div id="border"></div>
        <p>THREE</p>
        <div id="border"></div>
        <p>TWO</p>
        <div id="border"></div>
        <p>ONE</p>








    </div>
</body>

</html>